<div class="text-center container">

    <br>
    <h1>Receptionist</h1>

    <div class="alert alert-success customerFound" id="customerFoundBanner" role="alert">
        User found! ID is
    </div>

    {{!-- Search bar --}}
    <div class="searchbar">
        <form action="">
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 " id="mybar">
                <div class="input-group">
                    <input type="search" placeholder="Search for customer by ID or Mobile No." aria-describedby="button-addon1" class="form-control border-0 bg-light" id="waitlistNum">
                    <div class="input-group-append">
                        <button id="button-addon1" type="submit" class="btn btn-link text-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
    </div>

    {{!-- Modals for adding customer and putting customer on waitlist --}}
    <div class="cust-and-waitlist-buttons">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCustomerModal">
            Add New Customer
        </button>

        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addToWaitlist">
            Add to Waitlist
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="newCustomer" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newCustomer">New Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        <form action="#" method="get">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="First Name" name="fname" required>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Last Name" name="lname" required>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Mobile No." name="mobNo" required>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="newCustSubmitBtn">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addToWaitlist" tabindex="-1" role="dialog" aria-labelledby="waitlistCustomer" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="waitlistCustomer">Waitlist Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        <form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Mobile No. or Customer ID" name="waitlist-num">
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="waitlistSubmit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Tables Map --}}
    <div class="mt-5 p-2 container border border-secondary">
        <h3 class="border-bottom">Tables Map</h3>
        <div class="row m-3">
            {{#each row1Tables}}
            <div class="col-4">
                <div class="dropdown">
                    <button class="btn {{#if this}}btn-danger {{else}}btn-success{{/if}} dropdown-toggle" type="button" id="dropdownMenuButton1{{@index}}" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Table
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1{{@index}}">
                        {{#if this}}
                            <a class="dropdown-item" href="#" id="1{{@index}}" onclick="handleCheckout(event)">Checkout</a>
                        {{else}}
                            <div class="dropdown-item">
                                <input type="text" id="1{{@index}}" placeholder="Customer Mobile or ID">
                                <button class="btn-sm btn-primary" onclick="handleAssign(event, 1{{@index}})">Submit</button>
                            </div>
                         {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="row m-3">
             {{#each row2Tables}}
            <div class="col-4">
                <div class="dropdown">
                    <button class="btn {{#if this}}btn-danger {{else}}btn-success{{/if}} dropdown-toggle" type="button" id="dropdownMenuButton2{{@index}}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Table
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2{{@index}}">
                        {{#if this}}
                        <a class="dropdown-item" href="#" id="2{{@index}}" onclick="handleCheckout(event)">Checkout</a>
                        {{else}}
                        <div class="dropdown-item">
                            <input type="text" id="2{{@index}}" placeholder="Customer Mobile or ID">
                            <button class="btn-sm btn-primary" onclick="handleAssign(event, 2{{@index}})">Submit</button>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <br>
    {{!-- Waitlist Area --}}
    <h3>Waiting List</h3>
        <ul class="list-group">
            {{#each names}}
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <li class="list-group-item">{{this}}</li>
                </div>
                <div class="col-4"></div>
            </div>
            {{/each}}
        </ul>
    

</div>

<script src="https://www.gstatic.com/firebasejs/5.8.1/firebase.js"></script>

<script>
    document.getElementById("newCustSubmitBtn").addEventListener("click", () => {
        const fname = document.getElementsByName("fname")[0].value;
        const lname = document.getElementsByName("lname")[0].value;
        const mobNo = document.getElementsByName("mobNo")[0].value;
        customer = {
            "customerId": Math.round(Math.random()*1000),
            "firstName": fname,
            "lastName": lname,
            "phoneNumber": mobNo,
            "visits": 1
        }
        
        const custRef = db.ref("/customers").push();
        custRef.set(customer, function (error) {
            if (error) {
                console.log("Customer could not be saved: " + error);
            } else {
                console.log("Customer saved successfully");
                alert("Customer saved!");
                location.reload();
            }
        });
    
    });

    document.getElementById("waitlistSubmit").addEventListener("click", () => {
            const num = document.getElementsByName("waitlist-num")[0].value;
            db.ref("/waitingList").push().set({
                "id": num
            }).then(() => {
                alert("Customer added to waitlist")
                location.reload();
            })
        });

    var config = {
            apiKey: "AIzaSyDkKclQdfddnOZzEnCGlrJO-pmMArlx8YI",
            authDomain: "restaurantmanagementsyst-1d9b1.firebaseapp.com",
            databaseURL: "https://restaurantmanagementsyst-1d9b1.firebaseio.com/",
            storageBucket: "restaurantmanagementsyst-1d9b1.appspot.com"
        };

        firebase.initializeApp(config);
        var db = firebase.database();
        document.getElementById("button-addon1").addEventListener("click", (event) => {
            event.preventDefault();
            const num = document.getElementById("waitlistNum").value;
            db.ref("customers").orderByChild('phoneNumber').equalTo(num).on("value", function (snapshot) {
                if (snapshot.val()){
                    const ban = document.getElementById("customerFoundBanner")
                    ban.classList.remove("customerFound")
                    const nod = Object.keys(snapshot.val())[0];
                    ban.textContent += snapshot.val()[nod].customerId;
                }
            });
        });

        function handleCheckout(event) {
            const tid = parseInt(event.target.id);
            console.log(tid)
            db.ref("tables").orderByChild("tableNo").equalTo(tid).once("value", function (snapshot) {
                const k = Object.keys(snapshot.val())[0];
                console.log(k)
                db.ref(`/tables/${k}`).update({ occupied: false, customerId: "-" }).then(() => {
                    location.reload();
                })
            });
        }

        function handleAssign(event, tableId) {
            const cid = document.getElementById(tableId).value;
            db.ref("tables").orderByChild("tableNo").equalTo(tableId).once("value", function (snapshot) {
                const k = Object.keys(snapshot.val())[0];
                console.log(k)
                db.ref(`/tables/${k}`).update({ occupied: true, customerId: cid }).then(() => {
                    location.reload();
                })
            });
        }
</script>